### Agent conf ###
AGENT_DB_IP=127.0.0.1
AGENT_DB_PORT=5432
AGENT_DB_USER=user
AGENT_DB_PASS=password
AGENT_DB_NAME=SManagerAgent
DATABASE_URL_AGENT=postgresql://user:password@127.0.0.1:5432/SManagerAgent

### Core conf ###
CORE_DB_IP=127.0.0.1
CORE_DB_PORT=5445
CORE_DB_USER=user
CORE_DB_PASS=password
CORE_DB_NAME=SManagerCore
DATABASE_URL_CORE=postgresql://user:password@127.0.0.1:5445/SManagerCore

DATABASE_URL=postgresql://user:password@127.0.0.1:5445/SManagerCore

RUST_LOG=debug

# CORE SETTINGS
AGENT_EXTERN_SERVER_IP=127.0.0.1
AGENT_EXTERN_SERVER_PORT=6969
AGENT_INTERN_SERVER_PORT=6767

### certificates
CERTIFICATES_LOCATION=certs/dev/

### jwt secret key ###
JWT_SECRET=supersecretkey

### jwt expiration time in seconds ###
### 0 = token never expires ###
JWT_EXPIRATION=86_400