### Agent conf ###
AGENT_DB_IP=127.0.0.1
AGENT_DB_PORT=5432
AGENT_DB_USER=user
AGENT_DB_PASS=password
AGENT_DB_NAME=SManagerAgent
DATABASE_URL_Agent=postgres://user:password@127.0.0.1:5432/SManagerAgent

### Core conf ###
CORE_DB_IP=127.0.0.1
CORE_DB_PORT=5445
CORE_DB_USER=user
CORE_DB_PASS=password
CORE_DB_NAME=SManagerCore
DATABASE_URL_CORE=postgres://user:password@127.0.0.1:5445/SManagerCore

DATABASE_URL=set here your working db

RUST_LOG=debug

### certificates
CERTIFICATES_LOCATION=certs/dev/