### Agent conf ###
AGENT_DB_IP=127.0.0.1
AGENT_DB_PORT=5432
AGENT_DB_USER=user
AGENT_DB_PASS=password
AGENT_DB_NAME=SManagerAgent

DATABASE_URL_Agent=postgres://user:password@127.0.0.1:5432/SManagerAgent

RUST_LOG=debug

### certificates
CERTIFICATES_LOCATION=certs/dev/

DATABASE_URL_CORE=postgres://user:password@127.0.0.1:5445/SManagerCore